<#@ template language="C#" #>
<# var pocos = new [] {
	Tuple.Create("FirstName", "string"), 
	Tuple.Create("LastName", "string"), 
	Tuple.Create("Age", "int")}; #>
public partial class Person {
    <# foreach(var t in pocos) {#>

	protected <#= t.Item2#> _<#= t.Item1.ToLowerInvariant()#>;
    public virtual <#= t.Item2#> <#= t.Item1#>
    {
        get { return _<#= t.Item1.ToLowerInvariant()#>; }
        set { _<#= t.Item1.ToLowerInvariant()#> = value; }
    }
	<#}#>
}
